/* Header */
.header {
  font: normal 18px Arial, Helvetica, sans-serif;
  width: fit-content;
  margin: 10px;
  line-height: 26px;
}

/* Main form */
.form-main {
  margin: auto;
  margin-top: 12em;
  width: 60%;
}

.pattern-file-input {
  width: 300px;
  margin: 15px 0 15px 0;
}

/* Table */
.table-pattern {
  width: 5%;
}

/* Footer */
.footer {
  font: normal 18px Arial, Helvetica, sans-serif;
  width: fit-content;
  margin: auto;
  margin-top: 6em;
  width: 80%;
}

.progress {
  width: 90%;
  margin: 26px 5% 26px 5%;
}
