.header {
  font: normal 18px Arial, Helvetica, sans-serif;
  width: fit-content;
  margin: 10px;
  line-height: 26px;
}

.footer {
  font: normal 18px Arial, Helvetica, sans-serif;
  width: fit-content;
  margin: 3rem 20% 10% 20%;
}

.form {
  margin: auto;
  margin-top: 15em;
  width: 25%;
}

.form-label-pattern {
  font: normal 22px Arial, Helvetica, sans-serif;
}

.progress {
  width: 80%;
  margin: 0 10% 26px 10%;
}
